@font-face {
    font-family: MerriweatherNormal;
    src: url("../Assets/fonts/Merriweather-VariableFont_opsz,wdth,wght.ttf");
}

@font-face {
    font-family: MerriweatherItalic;
    src: url("../Assets/fonts/Merriweather-Italic-VariableFont_opsz\,wdth\,wght.ttf");
}

body{
    height: 100vh;
    transition: filter 0.3s ease;

}
body, .qoute-btn{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: backgroundGradientEffect 15s ease infinite;
}


.qoute-btn{
    font-family: var(--paragraph-font);
    padding: 2rem 5rem;  
    margin: 3rem 0;
    border: none;
   -webkit-box-shadow: 
    5px 5px 0px 0px #ee7752,
    10px 10px 0px 0px #e73c7e,
    15px 15px 0px 0px #23a6d5,
    20px 20px 0px 0px #23d5ab,
    25px 25px 0px 0px #ee7752,
    5px 5px 15px 5px rgba(0,0,0,0);
    
  box-shadow: 
    5px 5px 0px 0px #ee7752,
    10px 10px 0px 0px #e73c7e,
    15px 15px 0px 0px #23a6d5,
    20px 20px 0px 0px #23d5ab,
    25px 25px 0px 0px #ee7752,
    5px 5px 15px 5px rgba(0,0,0,0);

    animation: shadowPulse 1s 1s ease-in-out infinite;
}

.qoute-btn:hover{
    color: white;
    background-color:var(--btn-background);

}
.qoute p#qoute-output{
    font-family: MerriweatherNormal;
    font-size: x-large;
}
.qoute p#author-output{
    font-family: MerriweatherItalic;
}
.homeLink a{
  transition: all 0.5s ease-in-out !important;
}
.homeLink a:hover{ 
  color:white !important;
}
.loader {
  color: #fff;
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.3s infinite linear;
  transform: translateZ(0);
}


@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 
    2em -2em 0 0em, 3em 0 0 -1em, 
    2em 2em 0 -1em, 0 3em 0 -1em, 
    -2em 2em 0 -1em, -3em 0 0 -1em, 
    -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 
    3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, 
    -2em 2em 0 -1em, -3em 0 0 -1em, 
    -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 
    2em -2em 0 0, 3em 0 0 0.2em, 
    2em 2em 0 0, 0 3em 0 -1em, 
    -2em 2em 0 -1em, -3em 0 0 -1em, 
    -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
     3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, 
     -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
     3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, 
     -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
     3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, 
     -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 
    3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, 
    -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 
    3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, 
    -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}

@keyframes backgroundGradientEffect {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes shadowPulse {
  0% {
    box-shadow: 
      5px 5px 0px 0px #ee7752,
      10px 10px 0px 0px #e73c7e,
      15px 15px 0px 0px #23a6d5,
      20px 20px 0px 0px #23d5ab,
      25px 25px 0px 0px #ee7752,
      5px 5px 15px 5px rgba(0,0,0,0.3);
  }
  50% {
    box-shadow: 
      5px 5px 0px 0px #23d5ab,
      10px 10px 0px 0px #23a6d5,
      15px 15px 0px 0px #e73c7e,
      20px 20px 0px 0px #ee7752,
      25px 25px 0px 0px #23d5ab,
      5px 5px 25px 10px rgba(0,0,0,0.6);
  }
  100% {
    box-shadow: 
      5px 5px 0px 0px #ee7752,
      10px 10px 0px 0px #e73c7e,
      15px 15px 0px 0px #23a6d5,
      20px 20px 0px 0px #23d5ab,
      25px 25px 0px 0px #ee7752,
      5px 5px 15px 5px rgba(0,0,0,0.3);
  }
}